.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.sidebar-mobile {
  height: 100%;
  background-color: var(--clr-dark);
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  display: none;

  img {
    width: 180px;
  }

  svg {
    width: 50px;
    height: 50px;
    fill: var(--clr-gray);

    &:hover {
      fill: #fff;
    }
  }
  > :first-child {
    margin-right: auto;
  }
}

.sidebar {
  height: 100%;
  background-color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0rem;
  font-size: clamp(0.6rem, 0.5rem + 1vw, 1.1rem);
  font-weight: 500;

  & .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--clr-dark-80);
    img {
      width: 150px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  ul > li > a {
    display: flex;
    color: var(--clr-gray);
    align-items: center;
    gap: 1rem;
    padding: 0.6rem 1rem;
    transition: color 300ms;

    div {
      letter-spacing: 0.03em;
    }

    &:hover {
      background-color: var(--clr-dark-80);
    }

    &:hover > * {
      color: white;
      fill: white;
    }
  }

  & .nav-icon {
    height: 28px;
    width: 28px;
    fill: var(--clr-gray);
    transition: fill 300ms;
  }

  & .secondary-nav {
    margin-top: auto;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    height: auto;
    /* grid-template-rows: 100px 1fr; */
  }

  .navbar {
    height: 100px;
  }

  .sidebar {
    display: none;
  }

  .sidebar-mobile {
    display: flex;
  }
}

.article {
  background: var(--gradient);
  padding: 2rem 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: auto;
  /* grid-template-areas:
    "welcome cta"
    "tasks aside"
    "goals ."; */
  gap: 2rem;

  & .welcome {
    /* grid-area: welcome; */
    display: flex;
    gap: 1rem;
    align-items: center;

    & .welcome__title {
      font-size: 2.2rem;
      font-weight: 600;
      color: white;
    }
  }

  & .cta {
    /* grid-area: cta; */
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: end;
  }

  & .tasks {
    /* grid-area: tasks; */
    background-color: white;

    & .task {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 2rem 1rem;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;

      & .task-body {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & .task__title {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  & .aside {
    /* grid-area: aside; */
    /* width: 700px;
    height: 800px;
    background-color: blue; */
  }

  & .goals {
    /* grid-area: goals; */
  }
}
